@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-clr: #a58181;
    --secondary-clr: #ad9d9d;
    --background-clr: #b0b2b2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: url("../assets/wild_flowers.png") repeat;
}

body {
    background-color: #eee;
    margin: 5vh 10vw;
    padding: 30px;
}

header {
    background-image: url("../assets/dasiy.jpg");
    background-size: cover;
    height: calc(95vh - 139px);
    width: 100%;
    display: flex;
    flex-direction: column;
}

#welcome {
    font-family: 'Arizonia', cursive;
    text-align: center;
    font-size: 16vw;
    color: var(--primary-clr);
    /*mix-blend-mode:exclusion;*/
    align-self: center;
    margin: auto;
    text-shadow: 4px 4px 6px #111;
}

#img-credit {
    font-size: 0.8em;
    color: black;
    align-self: flex-end;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
    color: var(--secondary-clr);
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid var(--background-clr);
    border-bottom: 2px solid var(--background-clr);
    margin: 25px 0;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--primary-clr);
    font-family: 'Roboto', sans-serif;
}

.tab {
    padding: 12px;
}

.tab.active {
    border-bottom: 3px solid var(--background-clr);
}

.tab:hover {
    color: #666;
    cursor: pointer;
    border-bottom: 3px solid var(--primary-clr);
}

.tab-content {
    margin: 0 20px;
}